#div1 {
    padding-left: 30%;
}

#datei {
    margin-top: 10px;
}

#text {
    width: 200px;
    height: 30px;
}

#form {
    padding-top: 10px;
}

#link {
    padding-left: 20%;
    position: fixed;
}